.banner{
    height: 448px;
    position: relative;
    color: white;
    object-fit: contain;
}

.banner__contents{
    margin-left: 100px;
    padding-top: 140px;
    height: 190px;
}

@font-face {
    font-family: 'Netflix Sans Bold';
    src: url('./fonts/NetflixSansBold.otf') format('otf');
}

@font-face {
    font-family: 'Netflix Sans Light';
    src: url('./fonts/NetflixSansLight.otf') format('otf');
}

@font-face {
    font-family: 'Netflix Sans Medium';
    src: url('./fonts/NetflixSansMedium.otf') format('otf');
}

.banner__title{
    font-family: 'Netflix Sans Bold';
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    letter-spacing: .05em;
    overflow: hidden;
    border-right: .05em solid white;
    margin: 0 auto 0 0;
    white-space: nowrap;
    width: 72%;
    animation: 
        typing 4s steps(35, end),
        blink-caret 0.4s step-end infinite;
}

.banner__title > span{
    font-size: 1.5rem;
    font-weight: 0;
    color: rgb(223, 221, 221);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 72% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.banner__description{
    font-family: 'Netflix Sans Light';
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 18px;
    max-width: 450px;
    height: 80px;
    font-weight: 400;
}

.banner--fadeButton{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg, 
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}

.banner__buttons{
    margin: 1rem 0;
}

.banner__button{
    cursor: pointer;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: white;
    padding-bottom: 0.5rem;
}

.banner__button:hover{
    color: white;
    background-color: rgba(51,51,51,0.5);
    transition: all 0.2s;
}

.resume__like{
    position: absolute;
    right: 0;
    margin-right: 100px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.resume__like:hover{
    color: #e50914;
    transition: all 0.2s;
}