.comment{
    color: white;
    margin: 10px 100px 0px 100px;
    display: flex;
}

.comment__list__heading{
    color: white;
    margin: 50px 100px 0px 100px;
    font-weight: 500;
}

.comment p:first-child{
    color: #777;
    font-size: 14px;
}

.comment p:nth-child(2){
    font-size: 14px;
}

.comments{
    padding: 20px 0 100px 0;
    line-height: 20px
}

