@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Netflix Sans Bold';
    src: url('./fonts/NetflixSansBold.otf') format('otf');
}

@font-face {
    font-family: 'Netflix Sans Light';
    src: url('./fonts/NetflixSansLight.otf') format('otf');
}

@font-face {
    font-family: 'Netflix Sans Medium';
    src: url('./fonts/NetflixSansMedium.otf') format('otf');
}

body {
    font-family: 'Roboto', sans-serif; /* Set the font similar to Netflix's */
}

.education__contents{
    display: flex;
    flex-direction: column;
    margin: 2px 5%;
}

.education__header{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    font-weight: bold;
    /* padding-left: 20px; */
}

.education__header > span:first-child{
    color: #46d369;
}

.education__header > span:nth-child(2){
    border: 1px solid #777;
}

.education__chronology {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
    /* grid-gap: 20px; */
    color: white;
}

.education{
    display: flex;
    flex-direction: column;
    /* background-color: #f2f2f2; */
    padding: 10px 0px;
}

.education__card{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
  
.education__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(100, 98, 98, 0.15);
}

.education__details{
    display: flex;
    flex-direction: row;
}

.education__info{
    display: flex;
    flex-direction: column;
    flex: 75%;
    font-size: 14px;
    gap: 2px;
}

.education__timeline{
    margin-left: auto;
    text-align: center;  
    font-size: 14px;
    flex: 25%;
}

.education__timeline > div:first-child{
    color: #777;
}

.education__info > h1{
    font-size: 21px;
    margin: 10px 0;
}

.download-transcript-button {
    /* Add your styling here */
    padding: 5px;
    background-color: #E50914;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
    .education__info{
        font-size: 12px;
    }
    .education__info > h1{
        font-size: 16px;
    }
    .education__timeline{  
        font-size: 12px;
    }
    .education__header{
        font-size: 18px;
    }
    .education{
        padding: 8px 0px;
    }
}

@media (max-width: 812px) {
    .education__info{
        font-size: 9px;
    }
    .education__info > h1{
        font-size: 11px;
    }
    .education__timeline{ 
        font-size: 9px;
    }
    .education__header{
        font-size: 15px;
    }
    .education{
        padding: 6px 0px;
    }
}