.education__contents{
    display: flex;
    flex-direction: column;
    margin: 2px 5%;
}

@font-face {
    font-family: 'Netflix Sans Bold';
    src: url('./fonts/NetflixSansBold.otf') format('otf');
}

@font-face {
    font-family: 'Netflix Sans Light';
    src: url('./fonts/NetflixSansLight.otf') format('otf');
}

@font-face {
    font-family: 'Netflix Sans Medium';
    src: url('./fonts/NetflixSansMedium.otf') format('otf');
}

.education__header{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    font-weight: bold;
    /* padding-left: 20px; */
}

.education__header > span:first-child{
    color: #46d369;
}

.education__header > span:nth-child(2){
    border: 1px solid #777;
}

/* .education__chronology{
    display: flex;
    flex-direction: column;
    color: white;
} */

.education__chronology {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
    /* grid-gap: 20px; */
    color: white;
}

.education {
    display: flex;
    flex-direction: column;
    /* background-color: #f2f2f2; */
    padding: 10px 0px;
}

.education__details{
    display: flex;
    flex-direction: row;
}

.education__info{
    display: flex;
    flex-direction: column;
    flex: 75%;
}

.education__info > span{
    font-size: 14px;
    margin-bottom: 5px;
}

.education__timeline{
    margin-left: auto;
    text-align: center;  
    font-size: 14px;
    flex: 25%;
}

.education__timeline > div:first-child{
    color: #777;
}

.education__info > h1{
    font-size: 21px;
    margin: 10px 0;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
    .education__info > h1{
        font-size: 16px;
    }
    .education__info > span{
        font-size: 12px;
    }
    .education__timeline{  
        font-size: 12px;
    }
    .education__header{
        font-size: 18px;
    }
    .education{
        padding: 8px 0px;
    }
}

@media (max-width: 812px) {
    .education__info > h1{
        font-size: 11px;
    }
    .education__info > span{
        font-size: 9px;
    }
    .education__timeline{ 
        font-size: 9px;
    }
    .education__header{
        font-size: 15px;
    }
    .education{
        padding: 6px 0px;
    }
}