.nav{
    position: fixed;
    top: 0;
    padding: 10px 10px 10px 0px;
    width: 100%;
    height: 30px;
    z-index: 3;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    display: flex;
}

.nav__hamburger-icon {
    display: none;
}

/* The sidebar, initially off-screen */
.nav__sidebar {
   display: flex;
   flex: 1;
}

/* Open state for the sidebar */
.nav__sidebar.open {
    left: 0;
    color: white;
    width: 250px;
    height: 100%;
    background: black;
    transition: right 0.3s ease;
    position: fixed;
    top: 0;
    right: -250px; /* Assuming the sidebar width is 250px */
    flex-direction: column;
}

.nav__hyperlinks.open{
    flex-direction: column;
    justify-content: space-around;
}

.nav__hyperlinks.open > a{
    color: white;
}

.nav__buttons{
    display: flex;
    flex: 0.50;
    justify-content: flex-end;
}

.nav__buttons.open{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.nav__hyperlinks{
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    flex: 0.50;
    align-items: center;
    margin-left: 5%;
    font-size: 15px;
}

.nav__hyperlinks > a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.nav__hyperlinks a:hover{
    font-weight: bold;
}

.nav__download{
    /* position: fixed;
    right: 100px; */
    color: #9e9c9c;
    font-size: 35px;
    cursor: pointer;
    padding-right: 100px;
}

#nav__download__id{
    text-decoration: none;
}

.nav__download > span{
    font-size: 12px;
    color: #9e9c9c;
    display: none;
    align-self: center;
    padding-left: 5px;
}

.nav__download > span:hover{
    color: white;
}

#nav__download{
    border: none;
    outline: none;
    font-weight: bold;
}

.nav__download:hover{
    color: white;
}

.nav__logo{
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav__black {
    background-color: #141414;
}

.nav__avatar{
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
}

.nav__download.open{
    padding-right: 0px;
}

.nav__download.open > span{
    font-size: 15px;
    color: white;
}

.nav__cancel.open{
    display: flex;
    justify-content: flex-end;
    size: 1rem;
    margin: 20px;
}

.nav__cancel.close{
    display: none;
}

@media (max-width: 1024px) {
    .nav__download{
        right: 25px;
        font-size: 30px;
    }
}

@media (max-width: 812px) {
    .nav__download > span{
        display: flex;
    }
    .nav__download{
        right: 25px;
        font-size: 30px;
    }
    .nav__hamburger-icon {
        display: block;
        margin-left: 5%;
        font-size: 20px;
    }
    #nav__download{
        display: none;
    }
    .close{
        display: none;
    }
}

/* Optional: Add a backdrop when sidebar is open */
/* .nav__sidebar-open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */

.nav__hamburger-icon.open{
    display: none;
}
