.ta{
    margin: 0 5%;
    position: relative;
    padding-bottom: 100px;
}

.ta > h1{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 0 0 20px 0;
}

.ta__row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px 20px;
    border-bottom: 1px solid #404040;
    flex-direction: row;
}

.ta__showMore__button{
    cursor: pointer;
    color:#9e9c9c;
    font-size: 50px;
    z-index: 2;
}

.ta__showMore{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 1.5em;
    z-index: 2;
}

.dropdown__button{
    z-index: 1;
}

.ta__showMore__button:hover{
    color: white;
}

.ta--fadeButton{
    bottom: 6.3em;
    position: absolute;
    height: 7.4rem;
    background-image: linear-gradient(
        180deg, 
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
    z-index: 1;
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
    .ta > h1{
        font-size: 18px;
    }
    .ta__showMore{
        font-size: 25px;
        margin-bottom: 2.0em;
    }
}

@media (max-width: 812px) {
    .ta > h1{
        font-size: 15px;
    }
    .ta__row{
        flex-direction: column;
    }
    .ta__showMore{
        font-size: 25px;
        margin-bottom: 2em;
    }
}