.work__experience{
    margin: 0 5%;
    position: relative;
    padding-bottom: 60px;
}

.work__experience > h1{
    color: white;
    /* font-weight: 600; */
    font-size: 25px;
    margin-top: 50px;
    padding: 0 0 20px 0;
}

.work__experience__showMore__button{
    cursor: pointer;
    color:#9e9c9c;
    font-size: 50px;
    z-index: 2;
    /* position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 2; */
}

.work__experience__showMore__button:hover{
    color: white;
}

.work__experience__showMore{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0.7em;
    z-index: 2;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
    .work__experience > h1{
        font-size: 18px;
        margin-top: 50px;
    }
    .work__experience__showMore{
        font-size: 25px;
        margin-bottom: 1.2em;
    }
}

@media (max-width: 812px) {
    .work__experience > h1{
        font-size: 15px;
        margin-top: 25px;
    }
    .work__experience__showMore{
        font-size: 15px;
        margin-bottom: 2.8em;
    }
}